<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finallogin2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/car"
        android:label="Lift-Buddy"
        android:roundIcon="@mipmap/car"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".retrieve"></activity>
        <activity android:name=".liftpersonlist" />
        <activity android:name=".lift" />
        <activity android:name=".car" />
        <activity android:name=".NextActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>